<div class="lights">
  <p-table [value]="lights()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>On/Off</th>
        <th>Luminosité</th>
        <th>Couleur</th>
      </tr>
    </ng-template>
    <ng-template #body let-light>
      <tr>
        <td>{{ light.id }}</td>
        <td>{{ light.name }}</td>
        <td>
          @if(light.state.reachable) {
          <p-togglebutton
            [(ngModel)]="light.state.on"
            onLabel="On"
            offLabel="Off"
            class="w-24"
            (onChange)="changeLight(light.id, light.state.on)"
            [disabled]="!light.state.reachable"
          />
          }
        </td>
        <td>
          @if(light.state.reachable && isBrightnessType(light.type)) {
          <p-slider
            [(ngModel)]="light.state.bri"
            class="w-56"
            [min]="0"
            [max]="255"
            (onChange)="updateBrightness(light.id, light.state.bri)"
          />
          }
        </td>
        <td>
          @if(light.state.reachable && isColorType(light.type)) {
          <p-colorpicker
            [(ngModel)]="colorValues[light.id]"
            (onHide)="updateColor(light.id, colorValues[light.id])"
            format="rgb"
            appendTo="body"
            inputId="cp-rgb"
          />
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
