<input type="file" webkitdirectory (change)="onFolderSelected($event)" />

<hr />

@if (videos().length === 0) {
<p>Aucune vidéo trouvée.</p>
}

<p-carousel
  [value]="videos()"
  [numVisible]="4"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-video #item>
    <div
      (click)="play(video.url)"
      class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4"
    >
      <div
        class="mb-4"
        pTooltip="{{ video.movie?.Plot }}"
        tooltipPosition="bottom"
        placeholder="Bottom"
      >
        <div class="relative mx-auto">
          <img
            src="{{ video.movie?.Poster }}"
            alt="Affiche de {{ video.titleInfos.title }}"
            class="w-full rounded-border"
          />
        </div>
      </div>
      <div class="mb-4 font-medium">{{ video.titleInfos.title }}</div>
      <div class="flex justify-between items-center">
        @if(video.titleInfos.season && video.titleInfos.episode) {
        <span>
          (Saison {{ video.titleInfos.season }}, épisode
          {{ video.titleInfos.episode }})
        </span>
        }
      </div>
    </div>
  </ng-template>
</p-carousel>

<hr />

@if (selectedVideoUrl()) {
<video width="640" height="360" controls [src]="selectedVideoUrl()"></video>
}
